html {
  box-sizing: border-box;
  font-size: 100% !important;
  scroll-behavior: smooth;

  @media #{$mq-1000-down} {
    font-size: 85% !important;
  }

  @media #{$mq-620-down} {
    font-size: 75% !important;
  }

  @media #{$mq-480-down} {
    font-size: 60% !important;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

main {
  background-color: $white;
  border-radius: 15px;
  margin: 0 auto;
}

p {
  color: $dkGray;
}

.content {
  @media #{$mq-1000-up} {
    flex: 3;
  }
}

aside {
  @media #{$mq-1000-up} {
    flex: 1;
  }
}
