html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

main {
  background-color: $white;
  border-radius: 15px;
  margin: 0 auto;
}

p {
  color: $dkGray;
}

.content {
  @media #{$mq-1000-up} {
    flex: 3;
  }
}

aside {
  @media #{$mq-1000-up} {
    flex: 1;
  }
}
