@import "variables";
@import "colors";
@import "global";
@import "typography";

/* Navbar section */
.navbar {
  background-color: $white;
  box-shadow: 0px 3px 68px 0px rgba(4, 195, 255, 0.16);
  padding: 0;

  .navbar-toggler {
    border: 2px solid $clPrimary;
    &-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(11, 190, 173)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .container-fluid {
    padding: 0 10%;
  }

  &-collapse {
    justify-content: flex-end;
  }

  &-nav {
    gap: 1rem;
    font-size: 1rem;
  }

  .nav-link {
    color: $black;
    font-weight: 500;

    &.activeN {
      color: $clPrimary;
      font-weight: 600;
    }
  }

  &-brand {
    font-size: 5rem;
    color: $clPrimary;
    font-weight: bold;
  }

  @media #{$mq-1200-down} {
    .container-fluid {
      padding: 0 5%;
    }
  }
}

/* PageFold section */
.page-fold {
  display: grid;
  width: 100%;
  padding: 12rem 8rem;
  grid-template-columns: repeat(4, 1fr);
  background: bottom no-repeat url(../../assets/bgshape.png);
  background-size: contain;

  .content {
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    z-index: 1;
    line-height: 4;

    h1,
    h2 {
      color: $clPrimary;
    }

    span {
      color: $clSecondary;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
  .photo {
    grid-column: 2/-1;
    grid-row: 1;
    text-align: end;

    img {
      width: 90%;
    }
  }

  @media #{$mq-1200-down} {
    .content {
      grid-column: 1/4;
    }
  }

  @media #{$mq-620-down} {
    padding: 10rem 3rem 8rem;
  }

  @media #{$mq-480-down} {
    padding: 10rem 3rem 5rem;
  }
}

.btn {
  width: 12.5rem;
  height: 3.75rem;
  border-radius: 30px;
  border: none;

  &-primary {
    filter: drop-shadow(0px 16px 16.5px rgba(11, 190, 173, 0.41));
    background-color: $clPrimary;
    margin-right: 2rem;
  }

  &-secondary {
    filter: drop-shadow(0px 16px 16px rgba(245, 127, 23, 0.24));
    background-color: #f57f17;
  }
  @media #{$mq-1200-down} {
    width: 10rem;
    height: 3rem;

    &-primary {
      margin-right: 1.5rem;
    }
  }

  @media #{$mq-480-down} {
    width: 8.5rem;

    &-primary {
      margin-right: 1rem;
    }
  }
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  padding-top: 10%;

  .subtitle {
    color: $clPrimary;
  }

  &-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    box-shadow: 0px 3px 68px 0px rgba(4, 195, 255, 0.16);

    .photo {
      grid-column: 1/4;
      grid-row: 1;
      height: 40rem;
      top: -10px;
      position: relative;

      img {
        width: 100%;
        height: 42rem;

        @media #{$mq-1200-down} {
          .img {
            height: 40rem;
          }
        }
      }
    }

    .text {
      grid-column: 3/-1;
      grid-row: 1;
      align-self: center;
      padding: 1.5rem;
      z-index: 1;

      .list {
        font-size: 1.2rem;
        color: $clPrimary;
        font-weight: 600;
        margin-top: 3rem;
      }
      ul {
        margin-bottom: 2rem;
        li::marker {
          font-size: 1.7rem;
          color: $clSecondary;
        }
      }

      .btn-primary {
        margin-right: 1.5rem;
      }
    }
  }

  @media #{$mq-1000-down} {
    margin: 0;
    &-content {
      width: 80%;

      .photo {
        grid-column: 1/-1;
        grid-row: 1;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        grid-column: 1/-1;
        grid-row: 2;
      }
    }
  }
}

.title {
  color: $clPrimary;
  z-index: 10;
}

.subtitle {
  letter-spacing: 4px;
  z-index: 10;
}

.divider {
  z-index: 10;
  width: 4rem;
  height: 10px;
  border-radius: 6px;
  background-color: $clPrimary;

  &::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 2px solid $clPrimary;
    width: 14rem;
    right: 5rem;
    top: 3px;
  }
}

/* Services section */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 4rem;

    .card {
      justify-content: center;
      padding: 3%;
      flex: 1 1 30%;
      max-width: 23rem;
      min-width: 18rem;
      height: 23rem;
      color: $white;
      text-align: center;
      background-repeat: no-repeat;
      background-position: bottom;

      &-icon {
        font-size: 5rem;
      }

      &-title {
        font-size: 1.5rem;
        font-weight: 700;
      }

      &-1 {
        background-color: #8540ff;
        box-shadow: 0px 3px 68px 0px rgba(133, 64, 255, 0.35);
        background-image: url(../../assets/shapebg1.svg);
        background-size: contain;
      }

      &-2 {
        background-color: #ffc50c;
        box-shadow: 0px 3px 68px 0px rgba(255, 197, 12, 0.35);
        background-image: url(../../assets/shapebg2.svg);
        background-size: contain;
      }

      &-3 {
        background-color: #ec407a;
        box-shadow: 0px 3px 68px 0px rgba(236, 64, 122, 0.35);
        background-image: url(../../assets/shapebg3.svg);
        background-size: contain;
      }
      &-4 {
        background-color: #ff6331;
        box-shadow: 0px 3px 68px 0px rgba(255, 99, 49, 0.35);
        background-image: url(../../assets/shapebg4.svg);
        background-size: contain;
      }
      &-5 {
        background-color: #13b6ff;
        box-shadow: 0px 3px 68px 0px rgba(19, 182, 255, 0.35);
        background-image: url(../../assets/shapebg5.svg);
        background-size: contain;
      }
      &-6 {
        background-color: #49af46;
        box-shadow: 0px 3px 68px 0px rgba(73, 175, 70, 0.35);
        background-image: url(../../assets/shapebg6.svg);
        background-size: contain;
      }
    }
  }
}

/* Resume Section */
#resume {
  filter: drop-shadow(0px 0px 68px rgba(19, 182, 255, 0.24));
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  background: $white;

  &-content {
    display: flex;
    gap: 4rem;
    margin: 3rem 1rem;

    .sidebar {
      display: flex;
      min-width: 23rem;
      min-height: 26rem;
      filter: drop-shadow(0 0 34px rgba(96, 233, 255, 0.27));
      background-color: $white;
      font-size: 1.25rem;

      .active {
        background-color: $clPrimary;
        border-radius: 0 20px 20px 0;
        color: $white;
      }
      .icons,
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .icons {
        padding: 0 4%;
        width: 3rem;
        background-color: $clPrimary;
        color: $white;

        i {
          width: 3rem;
          background-color: $clPrimary;
          border-radius: 25px;
          padding: 5px 0;
        }
      }

      ul {
        list-style: none;
        height: 100%;
        margin-bottom: 0;
        padding: 0;

        li {
          padding: 0.3rem 1.8rem;
          cursor: pointer;

          a {
            color: inherit;
            font-weight: 600;
          }
        }
      }

      &-content {
        display: none;

        &.active {
          display: inherit;
        }

        h5 {
          color: $clSecondary;
          font-weight: 600;
          display: inline;
        }

        div span {
          float: right;
          padding: 5px 10px;
          color: $white;
          border-radius: 15px;
          filter: drop-shadow(0px 3px 4px rgba(245, 127, 23, 0.24));
          background-color: $clSecondary;
        }
      }
    }
  }

  @media #{$mq-1000-down} {
    clip-path: none;

    &-content {
      .sidebar {
        min-width: 17.5rem;
        font-size: 1rem;
      }
    }
  }

  @media #{$mq-760-down} {
    &-content {
      gap: 1.5rem;
      margin: 3rem 0 0;
      .sidebar {
        min-width: auto;
        text-align: center;
        ul {
          display: none;
        }
      }
    }
  }
}

/* Portfolio Section */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  padding-top: 10%;

  &-navbar {
    padding: 4%;
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      li {
        display: inline;
        cursor: pointer;
        padding: 0.5% 2%;

        &.activeP {
          background-color: $clPrimary;
          border-radius: 20px;
          color: #fff;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 28rem;
    }
  }
}

/* Pricing Section */
#pricing {
  filter: drop-shadow(0px 0px 68px rgba(19, 182, 255, 0.24));

  .pricing {
    display: flex;
    flex-direction: column;
    padding: 15rem 0;
    align-items: center;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    background: $white;

    &-cards {
      display: flex;
      gap: 2%;
      margin-top: 5%;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .card {
        text-align: center;
        max-width: 23rem;
        min-width: 20rem;
        filter: drop-shadow(0 0 34px rgba(96, 233, 255, 0.27));
        border: none;
        margin: 2%;

        .header {
          padding: 3%;
          color: $white;

          p {
            color: $white;
            font-weight: 400;
          }
        }

        ul {
          text-align: left;
          line-height: 3;
          margin: 3% auto;

          li {
            padding-left: 8px;

            &::marker {
              content: "\2713";
              font-weight: 600;
            }
          }
        }

        .btn {
          color: $white;
          margin: 2% auto 10%;
        }
      }

      .card-1 {
        .header {
          background-color: #ff6331;
        }

        .btn-1 {
          filter: drop-shadow(0px 16px 16px rgba(245, 127, 23, 0.24));
          background-color: #f57f17;
        }
      }

      .card-2 {
        .header {
          background-color: #803afb;
        }

        .btn-2 {
          filter: drop-shadow(0px 16px 16px rgba(128, 58, 251, 0.24));
          background-color: #803afb;
        }
      }

      .card-3 {
        .header {
          background-color: #f5276c;
        }

        .btn-3 {
          filter: drop-shadow(0px 16px 16px rgba(245, 39, 108, 0.24));
          background-color: #f5276c;
        }
      }
    }
    @media #{$mq-1000-down} {
      clip-path: none;
      padding: 5rem 0;
    }
  }
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  position: relative;

  &-form {
    width: 25rem;
    padding: 3%;
    background-color: #ffffff;
    filter: drop-shadow(0 0 46.5px rgba(19, 182, 255, 0.24));
    align-self: flex-end;
    margin: 9%;
    z-index: 11;

    input,
    textarea {
      border: none;
      border-radius: 10px;
      filter: drop-shadow(0 0 34px rgba(96, 233, 255, 0.27));
      background-color: #ffffff;
      padding: 2%;
    }

    textarea {
      height: 12.5rem;
    }

    legend {
      font-size: 2.25rem;
      color: #0abead;
      font-weight: 700;
      font-family: "Poppins";
    }

    .btn {
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;
    }
  }

  .map {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

/* Footer Section */
footer {
  display: flex;
  padding: 2% 10%;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  z-index: 20;
  background-color: $white;

  .socialMedia {
    display: flex;
    gap: 10px;

    i {
      font-size: 1.8rem;
      cursor: pointer;

      &:active,
      &:hover {
        color: $clPrimary;
      }
    }
  }
}
