@import "variables";
@import "colors";
@import "global";
@import "typography";

/* Navbar section */
.navbar {
  background-color: $white;
  box-shadow: 0px 3px 68px 0px rgba(4, 195, 255, 0.16);
  height: 150px;
  z-index: 397;
  padding: 0 10%;

  &-collapse {
    justify-content: flex-end;
  }

  &-nav {
    gap: 10px;
    font-size: 16px;
  }

  .nav-link {
    color: $black;
    font-weight: 500;

    &:active {
      color: $clPrimary;
    }
  }

  &-brand {
    font-size: 78px;
    color: $clPrimary;
    font-weight: bold;
  }
}

/* PageFold section */
.page-fold {
  display: grid;
  width: 100%;
  padding: 8% 6% 13% 10%;
  grid-template-columns: repeat(4, 1fr);
  background: bottom no-repeat url(../../assets/bgshape.png);
  background-size: contain;

  .content {
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    z-index: 1;
    line-height: 4;

    h1,
    h2 {
      color: $clPrimary;
    }

    span {
      color: $clSecondary;
    }
  }
  .photo {
    grid-column: 2/-1;
    grid-row: 1;
    text-align: end;

    img {
      width: 90%;
    }
  }
}

.btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;

  &-primary {
    filter: drop-shadow(0px 16px 16.5px rgba(11, 190, 173, 0.41));
    background-color: $clPrimary;
    margin-right: 30px;
  }

  &-secondary {
    filter: drop-shadow(0px 16px 16px rgba(245, 127, 23, 0.24));
    background-color: #f57f17;
  }
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 10%;

  .subtitle {
    color: $clPrimary;
  }

  &-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    box-shadow: 0px 3px 68px 0px rgba(4, 195, 255, 0.16);

    .photo {
      grid-column: 1/4;
      grid-row: 1;
      height: 650px;
      top: -10px;
      position: relative;

      img {
        width: 100%;
        height: 42rem;
      }
    }

    .text {
      grid-column: 3/-1;
      grid-row: 1;
      align-self: center;
      line-height: 24px;
      padding: 10%;
      z-index: 1;

      .list {
        font-size: 18px;
        color: $clPrimary;
        font-weight: 600;
        margin-top: 45px;
      }
      ul {
        margin-bottom: 2rem;

        li::marker {
          font-size: 30px;
          color: $clSecondary;
        }
      }
    }
  }
}

.title {
  color: $clPrimary;
}

.subtitle {
  letter-spacing: 4px;
}

.divider {
  width: 40px;
  height: 10px;
  border-radius: 6px;
  background-color: $clPrimary;

  &::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 2px solid $clPrimary;
    width: 15em;
    right: 100px;
    top: 3px;
  }
}

/* Services section */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 4rem;

    .card {
      justify-content: center;
      padding: 3%;
      flex: 1 1 30%;
      max-width: 370px;
      height: 370px;
      color: $white;
      text-align: center;
      background-repeat: no-repeat;
      background-position: bottom;

      &-icon {
        font-size: 5rem;
      }

      &-title {
        font-size: 24px;
        font-weight: 700;
      }

      &-text {
        line-height: 24px;
      }

      &-1 {
        background-color: #8540ff;
        box-shadow: 0px 3px 68px 0px rgba(133, 64, 255, 0.35);
        background-image: url(../../assets/shapebg1.svg);
      }

      &-2 {
        background-color: #ffc50c;
        box-shadow: 0px 3px 68px 0px rgba(255, 197, 12, 0.35);
        background-image: url(../../assets/shapebg2.svg);
      }

      &-3 {
        background-color: #ec407a;
        box-shadow: 0px 3px 68px 0px rgba(236, 64, 122, 0.35);
        background-image: url(../../assets/shapebg3.svg);
      }
      &-4 {
        background-color: #ff6331;
        box-shadow: 0px 3px 68px 0px rgba(255, 99, 49, 0.35);
        background-image: url(../../assets/shapebg4.svg);
      }
      &-5 {
        background-color: #13b6ff;
        box-shadow: 0px 3px 68px 0px rgba(19, 182, 255, 0.35);
        background-image: url(../../assets/shapebg5.svg);
      }
      &-6 {
        background-color: #49af46;
        box-shadow: 0px 3px 68px 0px rgba(73, 175, 70, 0.35);
        background-image: url(../../assets/shapebg6.svg);
      }
    }
  }
}

/* Resume Section */
#resume {
  margin-top: 5rem;
  filter: drop-shadow(0px 0px 68px rgba(19, 182, 255, 0.24));
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 10%;
  clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
  background: $white;

  &-content {
    display: flex;
    gap: 4rem;

    .sidebar {
    }
  }
}
