$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?58995faf6397e16f291a7d03d0b1dd46") format("truetype"),
url("./flaticon.woff?58995faf6397e16f291a7d03d0b1dd46") format("woff"),
url("./flaticon.woff2?58995faf6397e16f291a7d03d0b1dd46") format("woff2"),
url("./flaticon.eot?58995faf6397e16f291a7d03d0b1dd46#iefix") format("embedded-opentype"),
url("./flaticon.svg?58995faf6397e16f291a7d03d0b1dd46#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "search-engine": "\f101",
    "coding": "\f102",
    "ux-interface": "\f103",
    "layers": "\f104",
    "motion-graphic": "\f105",
    "cloud-service": "\f106",
);

.flaticon-search-engine:before {
    content: map-get($flaticon-map, "search-engine");
}
.flaticon-coding:before {
    content: map-get($flaticon-map, "coding");
}
.flaticon-ux-interface:before {
    content: map-get($flaticon-map, "ux-interface");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
.flaticon-motion-graphic:before {
    content: map-get($flaticon-map, "motion-graphic");
}
.flaticon-cloud-service:before {
    content: map-get($flaticon-map, "cloud-service");
}
