$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?35e0942e01576fda8afabbbe7d32c604") format("truetype"),
url("./flaticon.woff?35e0942e01576fda8afabbbe7d32c604") format("woff"),
url("./flaticon.woff2?35e0942e01576fda8afabbbe7d32c604") format("woff2"),
url("./flaticon.eot?35e0942e01576fda8afabbbe7d32c604#iefix") format("embedded-opentype"),
url("./flaticon.svg?35e0942e01576fda8afabbbe7d32c604#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "ux-interface": "\f101",
    "motion-graphic": "\f102",
    "cloud-service": "\f103",
    "graduation": "\f104",
    "pallete": "\f105",
    "monitor": "\f106",
    "search-engine": "\f107",
    "coding": "\f108",
    "layers": "\f109",
    "future": "\f10a",
    "behance-logo": "\f10b",
    "dribbble-logo": "\f10c",
    "pinterest-social-logo": "\f10d",
    "skype": "\f10e",
    "facebook-logo": "\f10f",
);

.flaticon-ux-interface:before {
    content: map-get($flaticon-map, "ux-interface");
}
.flaticon-motion-graphic:before {
    content: map-get($flaticon-map, "motion-graphic");
}
.flaticon-cloud-service:before {
    content: map-get($flaticon-map, "cloud-service");
}
.flaticon-graduation:before {
    content: map-get($flaticon-map, "graduation");
}
.flaticon-pallete:before {
    content: map-get($flaticon-map, "pallete");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-search-engine:before {
    content: map-get($flaticon-map, "search-engine");
}
.flaticon-coding:before {
    content: map-get($flaticon-map, "coding");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
.flaticon-future:before {
    content: map-get($flaticon-map, "future");
}
.flaticon-behance-logo:before {
    content: map-get($flaticon-map, "behance-logo");
}
.flaticon-dribbble-logo:before {
    content: map-get($flaticon-map, "dribbble-logo");
}
.flaticon-pinterest-social-logo:before {
    content: map-get($flaticon-map, "pinterest-social-logo");
}
.flaticon-skype:before {
    content: map-get($flaticon-map, "skype");
}
.flaticon-facebook-logo:before {
    content: map-get($flaticon-map, "facebook-logo");
}
